@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}
.top{
  height: 30%;
  z-index: 0;
}
.bottom{
  height : 70%;
  background-color: var(--Light-pink);
  z-index: 0;
}

.card{
  width : 40%;
  padding : 25px;
  border-radius: 2%;
  background-color: var(--white);
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.30);
}

h1 {
  margin-left : 20px;
  display: inline-block;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 3.5rem;
}

.faq{
  display:  flex;
  justify-content:space-between;
  align-items: center; 

}
.question {
  display: inline-block;
  font-family : "Work Sans";
  font-weight : 600;
  font-size: 0.92rem;
}
.answer {
  display : none;
  font-family: "Work Sans";
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--Grayish-purple);
  line-height: 1.5rem;
}

.plus {

}

.minus {
  display : none;
}
